@keyframes size-change {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  margin: 10px;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2.3px solid #d3d6da;
  font-weight: bold;
  font-size: 25px;
}

.block[data-state="run"] {
  animation: size-change 0.3s alternate;
}

.gameover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255, 0.8);
  height: 40px;
  width: 200px;
  border: thick double black;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
